
* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
}

.top {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

#section {
	float: left;
	width: 33%;
	background-color: #ccc;
	padding-bottom: 20%;
}

aside {
	float: right;
	width: 33%;
	background-color: #ccc;
	padding-bottom: 20%;
}

footer {
	clear: both;
	padding: 20px;
  	background-color: #ccc;
}


/*#left {
	float: left;
	width: 33%;
	background-color: #666;
	color: white;
}*/
/*#right {
	float: left;
	width: 33%;
	background-color: #666;
	color: white;
}

/*section {   /*affects each section and declaring it once instead of putting it 3x's in #left, #middle, #right 
	padding: 20px;  
	margin-bottom: 20px;
}
#full {
	clear: both;
	background-color: #eee; 
	overflow: auto;  /*when you float, it cause things to go outside container.  clear:both and overflow:auto makes sure everything stays inside container 
	width: 100%;
}*/

/*#division {
	background-color: #6ea3da;
	padding: 20px;
}*/

